   <h1 class="post-title">{{post.title}}</h1>
   <p class="post-body">{{post.body}}</p>
   {{#if isEditable}}
    <form {{action 'edit' }}>
      <button type='submit' class='btn btn-primary'>Edit</button>
      <button type='delete' class= 'btn btn-primary'
      {{action 'delete'}}>Delete</button>
    </form>
  {{/if}}
