<h1>Posts</h1>
{{#link-to 'posts.new'}}Add New Post{{/link-to}}
<br><br>
<section>
{{#each model as |post|}}

  <div>{{#link-to 'post' post.titleURL}}  {{post.title}} {{/link-to}}  </div>
{{/each}}
</section>


{{outlet}}
