<h1>Posts</h1>
  {{#link-to 'posts.new'}}<button id='btn-new' class ='btn btn-primary'>Add New Post</button>{{/link-to}}
  <br><br>

<ul id='post-list'>
  {{#each model as |post|}}
    <li>
      {{post-read-summary-link post=post}}
    </li>
  {{/each}}
  </ul>


{{outlet}}
