<h1>Posts</h1>
  {{#link-to 'posts.new'}}<button class ='btn btn-primary'>Add New Post</button>{{/link-to}}
  <br><br>

<section>
  {{#each model as |post|}}

    <div>{{#link-to 'posts.post' post.titleURL}}  {{post.title}} {{/link-to}}  </div>
  {{/each}}
</section>

{{outlet}}
