<h1>Posts</h1>
  {{#link-to 'posts.new'}}<button class ='btn btn-primary'>Add New Post</button>{{/link-to}}
  <br><br>

<section>
  {{#each model as |post|}}
    {{post-read-summary-link post=post}}
  {{/each}}
</section>

{{outlet}}
